#header {
  margin-top: 10px;
  color: #444444;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  #nav {
    .nav-link {
      margin-top: 6px;
      margin-left: 8px;
      &:first-child {
        margin-top: 0;
      }
    }
    .nav-link a {
      font-size: 11px;
      color: #444444;
      &:hover {
        border-bottom: 0;
      }
      path {
        fill: #444444;
      }
    }

    z-index: 300;
  }

  #header-text {
    margin-left: 10px;
    line-height: 28px;
  }
}
