$blue: #66B5AF;

#results {
  max-width: 970px;
  min-height: 600px;
  display: block;
  position: relative;
  margin: 10px auto;
  padding: 0 10px 30px 10px;

  .summary {
  }
  .blocks {
    margin-top: 10px;
  }

  .block-link {
    display: inline-block;
    box-sizing: border-box;
    height: 82px;
    width: 232px;
    padding: 8px 10px;
    float: left;
    margin: 10px 10px 10px 0;
    color: #111;
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
    background-color: #eee;
    border: solid 1px #eee;
    border-bottom: solid 1px #ccc;
    background-position: 0% 0%;
    transition: ease 750ms background-position;
  }
  .block-link:hover {
    background-position: 0% 50%;
  }
  .block-link:not(:hover) {
    text-decoration: none;
  }

  .block-description {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 55px;
  }
  .block-user {
    font-size: 10px;
  }

  .load-more {
    display: inline-block;
    margin: 20px 0;
    padding: 5px;
    border: 1px solid $blue;
    cursor: pointer;
    font-size: 20px;
  }
  .load-more {
    display: inline-block;
    margin: 0px 5px;
    padding: 4px 8px;
    font-size: 16px;
    background-color: $blue;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    outline: none;
    cursor: pointer;
    float: left;
    clear: left;
  }
  .load-more:hover {
    background-color: white;
    color: $blue;
    border: 1px solid $blue;
  }
}

.loading {
  width: 960px;
}



/* -------------------
borrowed styles
----------------------*/
/*
  css loader from http://tobiasahlin.com/spinkit/
*/
.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 50px auto;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: $blue;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

$min: 0.2;
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D($min, $min, 1);
            transform: scale3D($min, $min, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D($min, $min, 1);
            transform: scale3D($min, $min, 1);
  }
}
