$blue: #66B5AF;

#searchbar {
  max-width: 970px;
  margin: 0 auto;
  padding: 5px;

  input.text-search {
    width: 300px;
    outline: none;
    border: 1px solid #111;
    font-size: 18px;
    height: 24px;
  }
  input.user-search {
    display: none;
  }
  .search-button {
    display: inline-block;
    margin: 0px 5px;
    padding: 4px 8px;
    font-size: 16px;
    background-color: $blue;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    outline: none;
    cursor: pointer;
  }
  .search-button:hover {
    background-color: white;
    color: $blue;
    border: 1px solid $blue;
  }

}
