$blue: #66B5AF;

#searchbar {
  max-width: 970px;
  margin: 0 auto;
  padding: 5px;

  input.text-search {
    width: 300px;
    outline: none;
    border: 2px solid #ccc;
    font-size: 18px;
    height: 24px;
    color: #444444;
  }
  input.user-search {
    margin: 0 5px;
  }
  input.api-autocomplete {
    margin: 0 5px;
  }
  input.modules-autocomplete {
    margin: 0 5px;
  }
  label {
    color: #444444;
    font-size: 14px;
  }
  .search-button {
    display: inline-block;
    margin: 0px 5px;
    padding: 4px 8px;
    font-size: 16px;
    background-color: $blue;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    outline: none;
    cursor: pointer;
  }
  .search-button-emoji {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    outline: none;
    cursor: pointer;
  }
  .search-button:hover {
    background-color: white;
    color: $blue;
    border: 1px solid $blue;
  }

  #autocomplete-apis {
    position: absolute;
    z-index: 100;
    background-color: white;
    border: 1px solid $blue;
  }
  #autocomplete-modules {
    position: absolute;
    z-index: 100;
    background-color: white;
    border: 1px solid $blue;
  }

  .ac-api {
    margin: 2px 0;
    padding: 3px 5px;
    background-color: white;
    cursor: pointer;
  }
  .ac-api:hover {
    background-color: $blue;
    color: white;
  }

  #selected-apis {
    width: 100%;
    min-height: 25px;
    margin: 10px 0;
    z-index: 10;
  }
  #selected-modules{
    width: 100%;
    min-height: 25px;
    margin: 10px 0;
    z-index: 10;
  }
  .selected-api {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 3px 5px;
    border: 1px solid $blue;
    border-radius: 3px;
  }
  .remove-api {
    cursor: pointer;
    margin: 0 2px;
  }
  .remove-api path {
    fill: $blue;
  }
  select {
    color: #444444;
  }

}
